@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Jacquard+12+Charted&family=Jacquard+24&family=Jersey+10&family=Jersey+15&family=Jersey+15+Charted&family=Jersey+20&family=Jersey+20+Charted&family=Jersey+25&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sedan:ital@0;1&family=Tajawal:wght@200;300;400;500;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*-----------------------------------------------------
    NavigationBar for all pages
------------------------------------------------------*/

header{
    background-color: 	#ffffff;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px ;
}

.logo{
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
}

.logo:hover{
    color: #ffb44a;
}

.navigation a{
    color: #000000;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: #ffb44a;
}

.booking-btn {
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 100px;
    margin-bottom: 10px;
    transition: 0.7s ease;
}

.booking-btn:hover {
    background-color: #9c0101;
    transform: scale(1.1);
}

section {
    padding: 60px 80px;
}

/*-----------------------------------------------------
----------------FIRST SECTION--------------------------
------------------------------------------------------*/

/*....................................................
    Home page
......................................................*/
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.main h1 {
    color: #ffffff;
    font-size: 4em;
    font-weight: 900;
    margin-top: 180px;
}

.social-icons a {
    color: #fff;
    font-size: 2em;
    padding-right: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.video {
    z-index: -100;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.title {
    display: flex;
    justify-content: center;
    color: #000000;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 10px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/*....................................................
    Story page
......................................................*/
.story-header {
    background-image: url(images/header/hdr4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 16rem;
    padding-bottom: 4rem;
    position: relative;
}

.story-header::before {
    content: "";
    background: linear-gradient(to top, #000000 , transparent 100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.story-header h1 {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 6em;
    font-weight: 700;
    margin-bottom: 70px;
    position: relative;
}

.story-header h2 {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 10px;
    position: relative;
    bottom: 3em;
}

/*....................................................
    Menu page
......................................................*/
.menu-header {
    background-image: url(images/header/hdr2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 16rem;
    padding-bottom: 4rem;
    position: relative;
}

.menu-header::before {
    content: "";
    background: linear-gradient(to top, #000000 , transparent 100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.menu-header h1 {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 6em;
    font-weight: 700;
    margin-bottom: 70px;
    position: relative;
}

.menu-header h2 {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 10px;
    position: relative;
    bottom: 3em;
}

/*....................................................
    Our Updates
....................................................*/

.updates-header {
    background-image: url(images/header/hdr3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 16rem;
    padding-bottom: 4rem;
    position: relative;
}

.updates-header::before {
    content: "";
    background: linear-gradient(to top, #000000 , transparent 100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.updates-header h1 {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 6em;
    font-weight: 700;
    margin-bottom: 70px;
    position: relative;
}

.updates-header h2 {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 10px;
    position: relative;
    bottom: 3em;
}

/*....................................................
    Reservation/Contact page
......................................................*/
.contact-header {
    background-image: url(images/header/hdr1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 16rem;
    padding-bottom: 4rem;
    position: relative;
}

.contact-header::before {
    content: "";
    background: linear-gradient(to top, #000000 , transparent 100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.contact-header h1 {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 6em;
    font-weight: 700;
    margin-bottom: 70px;
    position: relative;
}

.contact-header h2 {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 10px;
    position: relative;
    bottom: 3em;
}

/*-----------------------------------------------------
---------------SECOND SECTION--------------------------
------------------------------------------------------*/


/*.....................................................
    Home page ( Speacial Menu)
.......................................................*/

.specialmenu {
    text-align: center;
}

.specialmenu {
    display: inline-block; 
    vertical-align: top;
}

.specialmenu-image img {
    margin: 20px;
    width: 320px;
    height: auto;
}

.specialmenu-info {
    padding: 2em;
}

.specialmenu-category {
    font-size: 1em;
    color: #474747;
}

.specialmenu-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 1px;
}

.reviews-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.reviews {
    display: inline;
    text-decoration: none;
    color: #ffb44a;
}

.reviews:hover {
    color: #9c0101;
}

/*..................................................
    Story page (About Us)
....................................................*/

.about-us {
    background-color: #ffffff;
}

.about-us .content{
    margin-top: 30px;
}

.about-us h1 {
    display: flex;
    justify-content: center;
    color: #000000;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 50px;
    position: relative;
}

.about-us p {
    display: flex;
    justify-content: center;
    color: #000000;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 15px;
    position: relative;
}

.team {
    background-color: #efefef;
}

.team h1 {
    display: flex;
    justify-content: center;
    color: #000000;
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 90px;
    position: relative;
}

.team {
    text-align: center;
}

.team-member {
    display: inline-block; 
    margin: 0 40px;
    vertical-align: top;
}

.team-image img {
    width: 250px;
    height: auto;
    border-radius: 50%;
}

/*..................................................
    Menu page (Breakfast)
....................................................*/
.breakfastmenu {
    text-align: center;
}

.breakfastmenu {
    display: inline-block; 
    vertical-align: top;
}

.breakfastmenu-image img {
    width: 330px;
    height: auto;
    margin-left: 1em;
}

.breakfastmenu-info {
    padding: 3em;
}

.breakfastmenu-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 1px;
}

.reviews-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.reviews {
    display: inline;
    text-decoration: none;
    color: #ffb44a;
}

.reviews:hover {
    color: #9c0101;
}

/*..................................................
    Menu page (Lunch)
....................................................*/
.lunchmenu {
    text-align: center;
}

.lunchmenu {
    display: inline-block; 
    vertical-align: top;
}

.lunchmenu-image img {
    width: 500px;
    height: auto;
    margin-left: 1em;
}

.lunchmenu-info {
    padding: 3em;
}

.lunchmenu-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 400;
}

.reviews-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.reviews {
    display: inline;
    text-decoration: none;
    color: #ffb44a;
}

.reviews:hover {
    color: #9c0101;
}


/*..................................................
    Menu page (Dinner)
....................................................*/
.dinnermenu {
    text-align: center;
}

.dinnermenu {
    display: inline-block; 
    vertical-align: top;
}

.dinnermenu-image img {
    width: 330px;
    height: auto;
    margin-left: 1em;
}

.dinnermenu-info {
    padding: 3em;
}

.dinnermenu-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 400;
}

.reviews-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.reviews {
    display: inline;
    text-decoration: none;
    color: #ffb44a;
}

.reviews:hover {
    color: #9c0101;
}

/*..................................................
    Menu page (Sweet)
....................................................*/
.sweetmenu {
    text-align: center;
}

.sweetmenu {
    display: inline-block; 
    vertical-align: top;
}

.sweetmenu-image img {
    width: 330px;
    height: auto;
    margin-left: 1em;
}

.sweetmenu-info {
    padding: 3em;
}

.sweetmenu-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 400;
}

.reviews-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.reviews {
    display: inline;
    text-decoration: none;
    color: #ffb44a;
}

.reviews:hover {
    color: #9c0101;
}
/*..................................................
    Update page (News & Events)
....................................................*/

.news {
    background-color: #ffffff;
}

.news .content{
    margin-top: 30px;
}

.news-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 16em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.news-card:hover {
   transform: scale(1.1);
}

.news-card:hover .blog-image {
    opacity: 0.9;
 }

.news-image img{
    width: 100%
}

.news-info {
    padding: 1em;
}

.news-category {
    font-size: 0.8em;
    color: #000;
}

.news-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #ffb44a;
}

.more-details:hover {
    color: #9c0101;
}

/*..................................................
    Reservation/Contacts 
....................................................*/

.booking{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    padding-bottom: 20px;
    min-height: 100vh;
    background: #ffffff
}
.card-container{
    display: grid;
    grid-template-columns: 420px 420px;
}

.booking h2{
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.card-content{
    background: #fff;
    height: 330px;
}
.card-content h3{
    text-align: center;
    color: #000;
    padding: 25px 0 10px 0;
    font-size: 26px;
    font-weight: 500;
}
.form-row{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
form select, form input{
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ffb44a;
    font-weight: 300;
}
form input[type = text], form input[type = number], form input::placeholder, select{
    color: #9a9a9a;
}
form input[type = submit]{
    color: #fff;
    background: #ffb44a;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}
form input[type = submit]:hover{
    opacity: 0.9;
}

/*-----------------------------------------------------
----------------FOOTER SECTION-------------------------
------------------------------------------------------*/

/*..................................................
    Large background at home page
...................................................*/

.largebg {
    background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}



/*-----------------------------------------------------
----------------FOOTER SECTION--------------------------
------------------------------------------------------*/

.footer {
    background-image: url(images/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
    position: relative;
}

.footer::before {
    content: "";
    background: linear-gradient(to top, #000000 , transparent 200%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer h1 {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 70px;
    position: relative;
}

.footer h2 {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 10px;
    position: relative;
}
  
.footer a:hover {
    color: #ffb44a;
}
  
.footer a {
    display: inline;
    color: #ffffff;
    font-size: 2em;
    position: relative;
    left: 16.2em;
}
  
.footer p {
    display: flex;
    justify-content: center;
    color: #fcf0da;
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 10px;
    position: relative;
}

/*------------------------------------------------
contact
-------------------------------------------------*/

html {
    font-family: 'Montserrat', Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    background: #F2F3EB;
  }
  
  button {
    overflow: visible;
  }
  
  button, select {
    text-transform: none;
  }
  
  button, input, select, textarea {
    color: #5A5A5A;
    font: inherit;
    margin: 0;
  }
  
  input {
    line-height: normal;
  }
  
  textarea {
    overflow: auto;
  }
  
  #container {
    border: solid 3px #000000;
    max-width: 768px;
    margin: 60px auto;
    position: relative;
  }
  
  form {
    padding: 37.5px;
  }
  

  
  .icon_wrapper {
    margin: 50px auto 0;
    width: 100%;
  }
  
  .icon {
    display: block;
    fill: #000000;
    height: 50px;
    margin: 0 auto;
    width: 50px;
  }
  
  .email {
      float: right;
      width: 45%;
  }
  
  input[type='text'], [type='email'], select, textarea {
      background: none;
    border: none;
      border-bottom: solid 2px #000000;
      color: #000000;
      font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
      margin: 0em 0 1.875em 0;
      padding: 0 0 0.875em 0;
    text-transform: uppercase;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  input[type='text']:focus, [type='email']:focus, textarea:focus {
      outline: none;
      padding: 0 0 0.875em 0;
  }
  
  .message {
      float: none;
  }
  
  .name {
      float: left;
      width: 45%;
  }
  
 
  
  select::-ms-expand {
    display: none;
  }
  
  .subject {
    width: 100%;
  }
  
  .telephone {
    width: 100%;
  }
  
  textarea {
      line-height: 150%;
      height: 150px;
      resize: none;
    width: 100%;
  }
  
  ::-webkit-input-placeholder {
      color: #000000;
  }
  
  :-moz-placeholder { 
      color: #474544;
      opacity: 1;
  }
  
  ::-moz-placeholder {
      color: #474544;
      opacity: 1;
  }
  
  :-ms-input-placeholder {
      color: #474544;
  }
  
  #form_button {
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  #form_button:hover {
    background: #ffffff;
    color: #F2F3EB;
  }
  
  @media screen and (max-width: 768px) {
    #container {
      margin: 20px auto;
      width: 95%;
    }
  }
  
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 26px;
    }
    
    .underline {
      width: 68px;
    }
    
    #form_button {
      padding: 15px 25px;
    }
  }
  
  @media screen and (max-width: 420px) {
    h1 {
      font-size: 18px;
    }
    
    .icon {
      height: 35px;
      width: 35px;
    }
    
    .underline {
      width: 53px;
    }
    
    input[type='text'], [type='email'], select, textarea {
      font-size: 0.875em;
    }
  }
/*------------------------------------------------
Form of reservation
-------------------------------------------------*/
}

.card-container{
    display: grid;
    grid-template-columns: 420px 420px;
}
.banner h2{
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.card-content{
    margin-left: -100px;
    width: 500px;
    background: #fff;
    height: 430px;
}
.card-content h3{
    text-align: center;
    color: #000;
    padding: 25px 0 10px 0;
    font-size: 26px;
    font-weight: 500;
}
.form-row{
    display: flex;
    width: 100%;
    margin:     25px auto;
}
form select, form input{
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 300;
}
form input[type = text], form input[type = number], form input::placeholder, select{
    color: #9a9a9a;
}
form input[type = submit]{
    color: #fff;
    background: #000000;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}
form input[type = submit]:hover{
    opacity: 0.9;
}
@media(max-width: 992px){
    .card-container{
        grid-template-columns: 100%;
        width: 100vw;
    }
    .card-img{
        height: 330px;
    }
}



  
